/*
AUTHOR: Ben Connors
UPDATED: 2022-02-04
DESCRIPTION: styles for index.html
*/

body {
    font-size: 1.5vw;
}

#form {
    padding: 10vw;
    width: 80%;
    font-size: 3vw;
}

.formBlock {
    padding-top: 2vw;
}

.label {
    font-size: 2vw;
    color: #ccc;
}

input {
    width: 104% !important;
}

.input {
    background-color: inherit;
    font: inherit;
    color: #ddd;
    border: 1px solid #ccc;
    display: inline-block;
    border-radius: .5vw;
    padding: .5vw 1.5vw;
    width: 100%;
}

.buttons {
    margin-top: .3vw;
}

.button {
    border-radius: .5vw;
    background-color: #ddd;
    color: #444;
    padding: .5vw 1.5vw;
    margin-right: 3vw;
}
