/*
AUTHOR: Ben Connors
UPDATED: 2022-02-04
DESCRIPTION: additional styles for telemetry.html
that aren't already includied in score.css
*/

table {
    font-size: 2vw !important;
}

td {
    font-size: 3vw;
}
