/*
AUTHOR: Ben Connors
UPDATED: 2022-02-04
DESCRIPTION: Boilerplate CSS for 16:9 WebView Screens
*/
    body {
        padding: 0px;
        margin: 0px;
        background-color: #000;
    }
    .slide {
        width: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        height: 100%;
    }

    .embed-container {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
        max-width: 100%;
    }
    .embed-container video,
    .embed-container object,
    .embed-container embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
